<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Web/Tech Support</h1>
            <span><address>CornerStone International</address><time>2017</time></span>
        </header>
        <p>Aide in website updates for content and functionality.</p>
    </article>
    <article>
        <header>
            <h1>Automatic Press Operator, Web/Tech Support</h1>
            <span><address>Sanchez Screen Printing</address><time>2015-2017</time></span>
        </header>
        <p>Operated automatic screen printing press. Resolved technical issues with computers, printers, and website.</p>
    </article>
    <article>
        <header>
            <h1>Audio Tech, Worship Leader, Intercessor</h1>
            <span><address>Sactuary</address><time>2010-2017</time></span>
        </header>
        <p>Ran sound for and led worship</p>
    </article>
    
</section>
