<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header class="half-bottom">
            <h1>Web Developer</h1>
            <span><address>Able Engine</address><time>2017-Present</time></span>
        </header>
        <ul class="circle">
            <li> Developed small to large-scale WordPress and Drupal 8 websites from start to finish.</li>
            <li>Interacted with clients to provide content and interfaces to their specifications.</li>
            <li>Created and supported scalable themes and modules.</li>
            <li>Assisted in project planning and estimation.</li>
            <li>Worked with a team to produce high-quality products on time.</li>
            <li>Consistently resolved support tickets across a wide variety of web sites.</li>
            <li>Onboarded and mentored new/junior developers.</li>
            <li>Experienced with hosting platforms such as Pantheon and Acquia.</li>
        </ul>
    </article>
    <article>
        <header class="half-bottom">
            <h1>Web/Tech Support</h1>
            <span><address>CornerStone International</address><time>2017</time></span>
        </header>
        <ul class="circle">
            <li>Aid in website updates for content and functionality.</li>
        </ul>
    </article>
    <article>
        <header class="half-bottom">
            <h1>Automatic Press Operator, Web/Tech Support</h1>
            <span><address>Sanchez Screen Printing</address><time>2015-2017</time></span>
        </header>
        <ul class="circle">
            <li>Operated automatic screen printing press. Resolved technical issues with computers, printers, and website.</li>
        </ul>
    </article>
    <article>
        <header class="half-bottom">
            <h1>Audio Tech, Worship Leader, Intercessor</h1>
            <span><address>Sactuary</address><time>2010-2017</time></span>
        </header>
        <ul class="circle">
            <li>Ran sound and led worship.</li>
        </ul>
    </article>

</section>
