<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
<!--             <h1>Software engineering & web development</h1> -->
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>JavaScript</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>PHP</em>, <em>HTML</em>,  &amp; <em>CSS</em> 
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>AngularJS</em>, <em>Postgres</em>
        </p>
    </article>
</section>