<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <!-- <h1>Web Development</h1> -->
        </header>
            <ul>
                <li>Drupal 8</li>
                <li>Wordpress</li>
                <li>PHP</li>
                <li>MYSQL</li>
                <li>React</li>
                <li>Webpack</li>
                <li>npm</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>CSS/SCSS</li>
                <li>PostgreSQL</li>
                <li>AngularJS</li>
                <li>Gulp</li>
                <li>API's</li>
                <li>Git</li>
                <li>Terminal</li>
            </ul>

<!--         <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>JavaScript</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>PHP</em>, <em>HTML</em>,  &amp; <em>CSS</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>AngularJS</em>, <em>Postgres</em>
        </p> -->
    </article>
</section>
